<h1>User to add:</h1>
<form method="POST" action="/user">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
  </div>
  <br>
  <div>
    <label for="lastname">Lastname:</label>
    <input type="text" name="lastname" id="lastname">
  </div>
  <br>
  <div>
    <label for="dni">DNI:</label>
    <input type ="text" name="dni" id="dni">
  </div>
  <br>
  <button type="submit">Submit</button>
</form>
<h1></h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>DNI</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      {{#each this}}
      <tr>
          <td>{{this.name}}</td>
          <td>{{this.lastname}}</td>
          <td>{{this.dni}}</td>
      </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>

